VisualElement {}
.button-container-songs {
    margin-left: 200px;
}

.unity-button-custom{
    width: 260px;
    height: 60px;
}


.unity-button-custom:hover {
    -unity-background-image-tint-color: #CBCBCB;
    width: 261px;
    height: 61px;
}

.custom-audio-settings-container {
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.unity-label{
    -unity-font: resource("Fonts/Roboto-Regular");
    color: #EAEAEA;
}