VisualElement {}

.customRestartButtonStyle{
    height: 100%;
    width: auto;
    background-size: contain;
    border-width: 0;
    background-color: transparent;
}

.customRestartButtonStyle:hover{
    -unity-background-image-tint-color: lightpink;
}