VisualElement {}

.customRestartButtonStyle{
    height: 80px;
    width: 80px;
    margin: 20px;
    align-self: flex-end;
}

.customRestartButtonStyle:hover{
    -unity-background-image-tint-color: lightpink;
}