.imageSize {
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("project://database/Assets/Images/UI/BackgroundUI.png?fileID=2800000&guid=abbebdbcf18db85418c6a30a7b870e6c&type=3#BackgroundUI");
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}

.element-on-top {
    z-index: 1;
}
